body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #455A64:
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    text-align: center;
}

.modal-content img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.reply-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    margin-top: 20px;
}

.reply img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    cursor: pointer;
}

.reply p {
    margin-top: 10px;
    color: #333;
}

#messageButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#messageButtons button {
    width: 200px; /* Adjust the width as needed */
    margin-bottom: 10px; /* Space between buttons */
}

#moreButtonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.datetime {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
